{% extends 'base.twig' %}

{% block app %}
    <div class="container mt-4">
        <div x-data="app()" class="app">
            <div class="search__form">
                <div class="input-group mb-3">
                    <input x-model="string"
                           type="text"
                           name="search-string"
                           class="form-control search__box__input"
                           placeholder="Search"
                           required minlength="3">
                    </div>
                <button x-on:click="await fetchTorrents();" class="btn btn-info search__button" type="button" value="">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </div>

            <div x-show="showLoading" class="loading mt-4">
                <img class="loading__ripple" src="/svg/ripple.svg" alt="">
            </div>

            <div x-show="showResults" class="results__area mt-4">
                <h5 x-text="resultsAmount + ' results were found'"></h5>
                <ul class="list-group search__results">
                    <template x-for="torrent in torrents">
                        <a x-bind:href="torrent.download"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                            <div class="item__info">
                                <span x-text="torrent.source" class="badge badge-light badge-pill p-1 mr-2"></span>
                                <span x-text="torrent.title"></span>
                            </div>

                            <div class="item__actions">
                                <span x-text="'Size: ' + formatBytes(torrent.size)"
                                      class="badge badge-light badge-pill p-1"></span>
                                <span x-text="'S: ' + torrent.seeders"
                                      class="badge badge-light badge-pill p-1"></span>
                                <span x-text="'L: ' + torrent.leechers"
                                      class="badge badge-light badge-pill p-1"></span>
                            </div>
                        </a>
                    </template>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}