{% extends 'base.twig' %}

{% block header %}
    <header>
        <nav class="navbar navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand"><i class="fa-brands fa-grav"></i> Torrent Getter</a>
            </div>
        </nav>
    </header>
{% endblock %}