@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');
@import url('header.css');

:root {
    --rich-black: #0a0f0d;
    --floral-white: #FFFCF2;
    --sea-green: #4FB477;
    --celadon-blue: #007EA7;
    --carolina-blue: #00A8E8;
}

.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__ripple {
    height: 160px;
    width: auto;
}

.loading__visible {
    display: none;
}